header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    
}
.main-link-box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    
}
.main-header{
    display: flex;
    
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

}
a{
    text-decoration: none;
    color: black;
}

.main-link-box:hover{
    color:orangered
}
.box-link:hover{
    color:orangered
}
body{
    margin: 0;
}

/* banner part */


.banner {
    display: flex;
    background-color: #171a29;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    justify-content: center;
}
.banner-blocks{
    background-color: #171a29;
    
}
.banner-blocks:hover{
    transition: transform .2s;
    transform: scale(1.1);
}
.banner-img{
    height: 200px;
    width:200px;
}
.secondrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.secondrow-right{
    display: flex;
    justify-content: space-between;
    gap: 18px;
}
:root {
    font-family: "Roboto", "HelveticaNeue-Light", sans-serif;
  }

  .restrnt-img-text{
    position: relative;
  }
  .restrnt-text{
    position: absolute;
    top: 1px;
    left:1px;
    background-color: #171a29;
    color: aliceblue;
    padding: 2px 2px 2px 2px;
  }
  .restrnt-list{
    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
        padding: 10px 10px 10px 10px;
    
  }
  .restrnt-list:hover{
    border: 1px solid rgba(166, 161, 161, 0.537);
  }